$dark: rgb(11, 31, 58);
$dark-title: rgb(119, 118, 188);
$light-title: rgb(205, 199, 229);
$alarm-title: rgb(255, 103, 77);
$highlight: rgb(248, 209, 34);
$softlight: rgb(255, 251, 251);
$somegreen: rgb(50, 126, 88);
$grey: rgb(120, 112, 124);

$highlighter: rgba(255, 255, 255, 0.8);

@mixin background {
  padding: 1em;
  border-radius: 25px;
  background-color: $highlighter;
  margin: 0 1em 0 1em;
  text-align: center;
  -webkit-box-shadow: 0px 0px 15px 0px rgba($dark-title, 0.5);
  -moz-box-shadow: 0px 0px 15px 0px rgba($dark-title, 0.5);
  box-shadow: 0px 0px 15px 0px rgba($dark-title, 0.5);
}

@mixin auth {
  background-color: $dark;
  color: $softlight;
  min-height: 50px;
  min-width: 100px;
}

@mixin btnstyle($color) {
  box-shadow: 3px 3px 15px 0px rgba(shade($color));
  border-radius: 15px;
  max-width: 120px;
  background-color: $color;
}

@mixin square($color) {
  width: 60px;
  height: 60px;
  border-radius: 15px;
  margin: 0 auto 1em auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color;
  box-shadow: shade($color);
  h4 {
    color: white;
  }
}

@mixin cardstyle {
  box-shadow: 3px 3px 15px 0px rgba($grey, 0.4);
  border-radius: 20px;
}

@function shade($color) {
  $endcolor: mix(black, $color, 30%);
  @return (3px 3px 20px 0px rgba($endcolor, 0.5));
}
